.resume {
  border: 0.1em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  position: relative;
  height: 31vh;
  width: 30vw;
}

.resume object {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .resume object {
    height: auto;
  }
}

.title {
  margin-bottom: 2%;
  font-size: 3em;
  text-align: center;
}

.description {
  margin-top: 10%;
  width: 100%;
  font-size: 1.2em;
}

.resume-btn{
  font-size: 1.0em
}

.card{
  margin-left: 5%;
}
