body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  /* color: #ccccff; */
  font-weight: 300;
  background: #FF8674;
}
.intro{
    letter-spacing: 0.1em;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
li{
  color: red;
}
.top{
  text-align: center;
  border: 3.5px solid #fff;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 11%;
  padding: 1%;
}

.bottom{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 12.5%;
  padding: 1%;
  border: 3.5px solid #fff;
  text-align: center;
}
