

.inline-photo {
  border: 0.1em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  max-width: 600px;
  width: 30vw;
  will-change: transform, opacity;
}

.boomFont{
  color: #f43a3a;
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  margin-left: 10%;
}


.row {
  display: flex;
  margin-top: 10%;
}

#boom{
  height: 31vh
}
