body{
  font-family: 'Open Sans', sans-serif;
}

.container{
    padding-top: 50px;
}

/* Resume Styles */
.resume {
  display: block;
  margin: 0 auto;
  border: 0.1em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  position: relative;
  height: 40vh;
  width: 50vw;
}

.resume iframe {
  height: 100%;
  width: 100%;
}

.download{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-size: 1.5vw;
}

.section-header{
    color:#f43a3a;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 6vw;
}
.project-wrapper{
    display: flex!important;
    justify-content: center;
    align-items: center;
    width: 100%!important;
    padding-top: 100px;
    text-align: center;
}
.project-title{
    text-align: center;
    letter-spacing: -3;
    color: black;
}

.text-box {
    font-size: 1.3vw;
    position: relative;
    display: inline-block;
    max-width: 490px;  
    vertical-align: middle;
    text-align: left;  
    margin: 50px 0 50px -30px;
    background: #f43a3a;
    padding: 0 20px;

  }
  
img {
    border: 2px solid black;
    padding: 15px;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin: 0;
    max-width: 500px;
}

  /* Mobile Styles */

@media (max-width: 800px) {
    .container{
        overflow-x: hidden;
        width: 100%;
        padding-top: 50px;
    }
    img{
        width: 88%;
        border: none;
    }

    .section-header{
      font-size: 8vw;
      padding-top: 0;
      padding-bottom: 0;
      color: #f43a3a;
    }
    .text-box{
        color: black;
        margin: 0 auto;
        display: block;
        margin-top: -20px;
        background: none;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 3vw;
    }

    .project-wrapper{
        padding-top: 30px;
        display: block;
        margin: 0 auto;
    }
    #resume {
        margin-top: 350px;
    }

    #ill-hawaii{
      position: absolute;
      top: 400px;
    }

    #ill-hawaii .text-box{
      top: 358px;
    }

    #boom{
      margin-top: 360px;
    }
    #nyserda{
      position: absolute;
      top: 1120px;
    }
    #nyserda .text-box{
      top: 290px;
    }
  }