.first{
  margin-top: 15%;
  margin-left: 3%;
}

.second{
  margin-left: 3%;
}

.content{
  color: #f43a3a;
  font-family: 'Work Sans', sans-serif;
  font-size: 4em;
  letter-spacing: -0.07em;
}

.email:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.num:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.period{
  color: #fff;
}

.label{
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 800px) {
  .first{
    margin-top: 50%;
  }
  .label{
    font-size: 1.0rem;
  }
  .content {
    font-size: 1.5rem;
  }
}
