* {
  margin: 0;
  padding: 0;
}
body{
  background: #FFB1A4;
}

.ij{
  color: #fff;
}

.w{
  color: #f43a3a;
}
.e{
  color: #fff;
}
.banner{
  padding-left: 100px;
  position: absolute;
  margin-top: 5%;
  width: 100;
  margin-top: 12%;
  margin-bottom: 0%;
}
.name{
  font-family: 'Work Sans', sans-serif;
  font-size: 4em;
  color: #f43a3a;
  letter-spacing: -2px;
  background-position: center;
}

.profession{
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  color: #fff;
  letter-spacing: -2px;
}
.life{
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  color: #f43a3a;
  letter-spacing: -2px;
  background-position: center;
}

/* Mobile Styles */

@media (max-width: 800px) {
  .banner {
    margin-top: 15%;
    padding-left: 0px;
    text-align: center;
    font-size: 2rem;
  }
  .name{
    font-size: 2rem;
  }
  .profession {
    font-size: 2rem;
    padding-top: 25px;
  }
  .life{
    font-size: 2rem;
    padding-top: 25px;
  }
}


/* BLOB */
body {
  margin: 0;
  padding: 0;
  /* width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
}

/* The transform CSS property lets you rotate, scale, skew, or translate an element. */
/* transform-origin lets you change the point of origin */
.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #3CDBC0;
  width: 30vmax;
  z-index: -1;
  animation: move 15s ease-in-out infinite;
  transform-origin: 70% 70%;
}

.blobTwo{
  position: absolute;
  top: 0;
  left: 0;
  fill: #FFCD00;
  width: 30vmax;
  z-index: -1;
  animation: move 15s ease-in-out infinite;
  animation-delay: 2s;
  transform-origin: 70% 70%;
}

/*
@keyframes the animation will gradually change from the current style to the new style at certain times.
Below will allow the blobs to rotate/move from one direction of the page to the next
The translate() CSS function repositions an element in the horizontal and/or vertical directions.
*/
@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

/*
  cubic-bezier will move the letters from left to right
 */
.name:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.profession:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.life:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
