body{
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  background: #FF8674;
}
div.container p {
    top: 50%;
    letter-spacing: 0.05em;
    text-align: center;
  }

.govt-name {
  font-size: 6vw;
  color: red;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 30px;
  letter-spacing: -0.06em;
  -webkit-text-stroke: 1px black;
}
.govt-name:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.headshot{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.headshot img{
  max-width: 25%;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
}
.intro{
  width: 50%;
  display: block;
  margin: 0 auto;
  font-size: 2vw;
  text-align: left;
  padding-bottom: 50px;
  padding: 10px 25px;
}

.intro p{
  margin-top: 0;
  margin-bottom: 0;
}

.email{
  text-decoration: none;
  color: #fff;
}

/* Mobile Media Queries */
@media (max-width: 800px) {
  .intro{
    width: 80%;
    margin-top: 5%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
