body{
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  background: #FF8674;
}
.container {
  height: 10em;
}

div.container p {
    margin-top: 5%;
    top: 50%;
    margin-right: -120%;
    margin-left: 120%;
    letter-spacing: 0.05em;
  }

#title {
  font-size: 5em;
  color: red;
  text-align: center;
  margin-top: 3%;
  letter-spacing: -0.06em;
}

.intro{
  width: 30%;
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
}

@media (max-width: 800px) {
  #title {
    margin-top: 10%;
    font-size: 1.8rem;
    margin-left: 33%;
  }
  .intro{
    margin-top: 5%;
    font-size: 1rem;
    text-align: center;
  }
  div.container p {
    margin-left: 33%;
    margin-bottom: 10%;
    width: 80vw;
    letter-spacing: 0.1em;
    text-align: left;
    }
}
