.top-nav{
  padding-top: 20px;
}
.top-nav a {
  float: left;
  color: #f43a3a;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2vw;
  text-decoration: none;
  font-weight: 700;
  padding-left: 10px;
  -webkit-text-stroke: 0.5px black;
}

.top-nav-right {
  float: right;
}

.top-nav-right a{
  padding-right: 20px;
}
.gray{
  color: #1E1E1E;
}


/*  Phone Styles */

@media (max-width: 800px) {
  #navbar{
    display: flex;
    justify-content: center;
  }
  .top-nav a{
    color: black;
    font-size: 3.5vw;
    padding-right: 0;
    text-align: center;
    padding-top: 1px;
    padding-left: 0;
    font-weight: 900;
    -webkit-text-stroke: 0 black;
  }
  .top-nav-right{
    float: left;
    padding-left: 10px;
  }
  .list{
    text-align: center;
  }
  .gray{
    font-weight: 900;
    color: black;
  }
  a{
    font-weight: 500;
  }
  .projects{
    margin-right: 10px;
  }
  .about{
    margin-right: 10px;
  }
}