.container{
    padding-top: 50px;
}

.resume{
    margin: 0 auto;
    display: block;
}

.section-header{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 50px;
}
.project-wrapper{
    display: flex!important;
    justify-content: center;
    align-items: center;
    width: 100%!important;
    padding-top: 30px;
}
.project-title{
    text-align: center;
    letter-spacing: -3;
    color: black;
}

.text-box {
    position: relative;
    display: inline-block;
    max-width: 490px;  
    vertical-align: middle;
    text-align: left;  
    margin: 50px 0 50px -30px;
    background: red;
    
  }
  
  img {
    border: 2px solid black;
    padding: 15px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    max-width: 500px; 
  }

  /* Mobile Styles */

@media (max-width: 800px) {
    .container{
        width: 100%;
    }
    .title{
        font-size: 2em;
    }
    img{
        width: 88%;
    }
    .text-box{
        margin: 0 auto;
        display: block;
        margin-top: 10px;
        background: none;
    }
  }

  /* Name Animation */