.inline-photo {
  border: 0.1em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  max-width: 600px;
  width: 30vw;
  will-change: transform, opacity;
}

.row {
  display: flex;
  margin-top: 10%;
}
.title{
  color: #f43a3a;
  font-size: 3rem;
}
#boom{
  height: 31vh
}

@media (max-width: 800px) {
  .row{
    display: inline-block;
    width: 100vw;
    height: 100vh;
  }
  .title{
    font-size: 4rem;
    text-align: center;
    margin-top: 5%;
  }
  .inline-photo{
    width: 80vw;
  }
  .description{
    text-align: left;
    font-size: 1.2rem;
  }
}
