body{
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  background: #FF8674;
}
div.container p {
    top: 50%;
    letter-spacing: 0.05em;
    text-align: center;
  }

.govt-name {
  font-size: 5em;
  color: red;
  text-align: center;
  margin-top: 5%;
  letter-spacing: -0.06em;
  -webkit-text-stroke: 1px black;
}

.intro{
  width: 50%;
  display: block;
  padding-top: 25px;
  margin: 0 auto;
  font-size: 2em;
  text-align: left;
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .govt-name {
    padding-top: 20%;
    font-size: 2rem;
  }
  .intro{
    width: 80%;
    margin-top: 5%;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
